@import url("https://fonts.googleapis.com/css?family=Catamaran:800|Montserrat:700|Baltimore%20Typewriter:400|&display=swap");

.charsheet button[type=roll].sheet-blank-roll-button::before {
 content: ''; 
}

.sheet-hidden {
  display: none;
}
.charsheet {
  width: 100%;
  padding: 0 !important;
}
.charsheet .sheet-chrono-wrapper {
  display: grid;
  grid-template-columns: 1.3fr 3fr 1.3fr;
  align-items: start;
  gap: 1em;
  margin-bottom: 5em;
  color: #000;
}
.charsheet .sheet-chrono-wrapper * {
  box-sizing: border-box;
  min-width: 0;
}
.charsheet .sheet-chrono-wrapper input[type=number] {
  text-align: center;
  width: 2em;
  -moz-appearance: textfield;
}
.charsheet .sheet-chrono-wrapper input[type=number] .chrono-panel__input--skill { /*custom*/
  width: 2em;
  height:2em;
  font-size: 8px;
}
.charsheet .sheet-chrono-wrapper input[type=number]::-webkit-outer-spin-button, 
.charsheet .sheet-chrono-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet .sheet-chrono-col1 {
  display: grid;
  gap: 1em;
}
.charsheet .sheet-chrono-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  /*grid-template-columns: 1.15fr 0.85fr;*/
  gap: 1em;
}
.charsheet .sheet-chrono-col2 .sheet-chrono-col21{
  display: grid;
  gap: 1em;
}

.charsheet .sheet-chrono-col2 .sheet-chrono-col22{
  display: grid;
  gap: 1em;
}

.charsheet .sheet-chrono-col2 .sheet-chrono-col23{
  display: grid;
  gap: 1em;
}

.charsheet .sheet-chrono-full-panel {
  grid-column: 1/ -1;
}

.charsheet .sheet-chrono-col3 {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  align-items: start;
  gap: 1em;
}

.charsheet .sheet-chrono-panel.sheet-turn-tracker span {

}

.charsheet .sheet-chrono-roll-button {
  width: 1.5em; 
  height: 1.5em;
  background: #fff;
  background-image: url("https://i.imgur.com/Od6fTLz.png");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  border:none;
}

.charsheet .sheet-chrono-panel, 
.charsheet .sheet-chrono-panel--fullheight, .charsheet .sheet-chrono-panel--full, .charsheet .sheet-chrono-panel--alternate {
  display: grid;
  grid-template-rows: 3em;
  gap: 1px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  background: #000;
}

.charsheet .sheet-chrono-panel--full {
  grid-column: 1/-1;
} /*custom*/

.charsheet .sheet-chrono-panel--fullheight {
  align-self: stretch;
}
.charsheet .sheet-chrono-panel .itemcontrol, .charsheet .sheet-chrono-panel--alternate .itemcontrol, .charsheet .sheet-chrono-panel--full .itemcontrol, .charsheet .sheet-chrono-panel--fullheight .itemcontrol {
  position: relative;
}
.charsheet .sheet-chrono-panel .itemcontrol button.repcontrol_del, .charsheet .sheet-chrono-panel--alternate .itemcontrol button.repcontrol_del, 
.charsheet .sheet-chrono-panel--full .itemcontrol button.repcontrol_del, 
.charsheet .sheet-chrono-panel--fullheight .itemcontrol button.repcontrol_del,
.charsheet .sheet-chrono-panel .itemcontrol a.repcontrol_move,
.charsheet .sheet-chrono-panel--alternate .itemcontrol a.repcontrol_move,
.charsheet .sheet-chrono-panel--full .itemcontrol a.repcontrol_move,
.charsheet .sheet-chrono-panel--fullheight .itemcontrol a.repcontrol_move {
  display: block;
  top: calc(50% - 1.5rem);
  position: relative;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  line-height: 2em;
  text-shadow: none;
  font-weight: bold;
}
.charsheet .sheet-chrono-panel .itemcontrol button.repcontrol_del, 
.charsheet .sheet-chrono-panel--alternate .itemcontrol button.repcontrol_del, 
.charsheet .sheet-chrono-panel--full .itemcontrol button.repcontrol_del, 
.charsheet .sheet-chrono-panel--fullheight .itemcontrol button.repcontrol_del {
  margin-right: 0.25rem;
  background: #a00;
  color: #fff;
}
.charsheet .sheet-chrono-panel .itemcontrol a.repcontrol_move, 
.charsheet .sheet-chrono-panel--alternate .itemcontrol a.repcontrol_move, 
.charsheet .sheet-chrono-panel--full .itemcontrol a.repcontrol_move, 
.charsheet .sheet-chrono-panel--fullheight .itemcontrol a.repcontrol_move {
  margin-left: 0.25rem;
  background: #fff;
  color: #000;
}
.charsheet .sheet-chrono-panel .repcontrol, 
.charsheet .sheet-chrono-panel--alternate .repcontrol, 
.charsheet .sheet-chrono-panel--full .repcontrol, 
.charsheet .sheet-chrono-panel--fullheight .repcontrol {
  padding: 0.25em;
  background-color: #c1c1c1;
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 807px 362px;
}
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_add, 
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_add, 
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_add, 
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_add,
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_del,
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_del,
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_del,
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_del,
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_move,
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_move,
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_move,
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_move,
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_edit,
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_edit,
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_edit,
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_edit {
  display: block;
  border: 1px solid #000;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  font-size: 0;
  line-height: 1em;
  text-shadow: none;
}
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_add:before, 
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_add:before, 
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_add:before, 
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_add:before {
  display: block;
  content: "&";
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.charsheet .sheet-chrono-panel .repcontrol button.repcontrol_edit:before, 
.charsheet .sheet-chrono-panel--alternate .repcontrol button.repcontrol_edit:before, 
.charsheet .sheet-chrono-panel--full .repcontrol button.repcontrol_edit:before, 
.charsheet .sheet-chrono-panel--fullheight .repcontrol button.repcontrol_edit:before {
  display: block;
  content: "p";
  right: 5px;
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.charsheet .sheet-chrono-panel__header {
  padding: 0.5em;
  /*background: #000;*/
  background: #d2da5c;
  color: #000;
  font-family: "Catamaran", sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}
.charsheet .sheet-chrono-panel__row, 
.charsheet .sheet-chrono-panel__row--textarea, 
.charsheet .sheet-chrono-panel__row--item, 
.charsheet .sheet-chrono-panel__row--skill, 
.charsheet .sheet-chrono-panel__row--iconic, 
.charsheet .sheet-chrono-panel__row--relationship, 
.charsheet .sheet-chrono-panel__row--luck, 
.charsheet .sheet-chrono-panel__row--span2, 
.charsheet .sheet-chrono-panel__row--span1 {
  display: flex;
  align-items: center;
  min-height: 3em;
  /*padding: 0.35em;*/
  background-color: #fff; /*notes area*/
}
.charsheet .sheet-chrono-wrapper input[type=number] .chrono-panel__input--skill { /*custom*/
  width: 2em;
  height:2em;
  font-size: 8px;
}
.sheet-rolltemplate-chrono .sheet-desire-theme h2 {
  color: #f95867;
  border-color: #f95867;
}
.sheet-rolltemplate-chrono .sheet-presence-theme h2 {
  color: #8abcf9;
  border-color:#8abcf9;
}
.charsheet .sheet-desire-bg, 
.sheet-rolltemplate-chrono .sheet-desire-theme .sheet-chrono-buttons a {
  background-color: #f95867; /*red*/
}
.charsheet .sheet-presence-bg,
.sheet-rolltemplate-chrono .sheet-presence-theme .sheet-chrono-buttons a  {
  background-color: #8abcf9; /*blue*/
}
.charsheet .sheet-mid-bg {
  background-color: #dee662; /*yellow*/
}
.charsheet .sheet-dark-txt span {
  color: #000;
}
.charsheet .sheet-chrono-panel__row--span1 {
  padding: 0;
  padding-left: 0.35em;
}
.charsheet .sheet-chrono-panel__row--span2 {
  grid-column: span 2;
  padding: 0;
  padding-left: 0.35em;
}
/*.charsheet .sheet-chrono-panel__row--luck {
  background-color: #fbb888;
}*/
.charsheet .sheet-chrono-panel__row--relationship {
  padding: 0;
  padding-left: 0.35em;
  display: grid;
  grid-template-columns: 4.5em 1fr;
  border-bottom: 1px solid #000;
}
/*.charsheet .sheet-chrono-panel__row--iconic {
  padding: 0;
  padding-left: 0.35em;
  background: #ffd998;
}*/
.charsheet .sheet-chrono-panel__row--item {
  display: grid;
  grid-template-columns: 1fr 4em;
  padding: 0;
  padding-left: 0.35em;
  border-bottom: 1px solid #000;
}
.charsheet .sheet-chrono-panel__row--skill {
  display: grid;
  grid-template-columns: 1fr 2.5em 2.5em;
  padding: 0;
  border-bottom: 1px solid #000;
}
.charsheet .sheet-chrono-panel__row--relationship {
  display: grid;
  grid-template-columns: 4em 1fr 4em;
  padding: 0;
  padding-left: 0.35em;
  border-bottom: 1px solid #000;
}

.charsheet .sheet-chrono-panel__row--textarea {
  padding: 0;
  align-self: stretch;
}
.charsheet .sheet-chrono-panel__label, .charsheet .sheet-chrono-panel__label--plus, .charsheet .sheet-chrono-panel__label--value, .charsheet .sheet-chrono-panel__label--select, .charsheet .sheet-chrono-panel__label--small, .charsheet .sheet-chrono-panel__label--button {
  flex-shrink: 0;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt;
}
.charsheet .sheet-chrono-panel__label:before, .charsheet .sheet-chrono-panel__label--plus:before, .charsheet .sheet-chrono-panel__label--value:before, .charsheet .sheet-chrono-panel__label--select:before, .charsheet .sheet-chrono-panel__label--small:before, .charsheet .sheet-chrono-panel__label--button:before {
  display: none;
}
.charsheet .sheet-chrono-panel__label--button {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
}
.charsheet .sheet-chrono-panel__label--button:hover {
  color: #f00;
}
.charsheet .sheet-chrono-panel__label--small {
  margin-bottom: 1em;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
}
.charsheet .sheet-chrono-panel__label--small:after {
  display: inline;
  content: ":";
}
.charsheet .sheet-chrono-panel__label--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  background: transparent url("https://s3.amazonaws.com/files.d20.io/images/138210258/mZTqw1vke8SrkprMJmiZQw/med.png?1590443723") right 5px center no-repeat;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;

  flex-shrink: 0;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt;
}
.charsheet .sheet-chrono-panel__label--select:hover {
  cursor: pointer;
  background-color: rgba(177, 125, 29, 0.2);
}
.charsheet .sheet-chrono-panel__label--value {
  width: 3em;
  text-align: center;
}
.charsheet .sheet-chrono-panel__label--plus {
  width: 1em;
  text-align: center;
}
.charsheet .sheet-chrono-panel__right {
  float: right;
  padding-top: 3pt;
  font-size: 8pt;
}
.charsheet .sheet-chrono-panel__input, 
.charsheet .sheet-chrono-panel__textarea--full, 
.charsheet .sheet-chrono-panel__input--hide[type=text], 
.charsheet .sheet-chrono-panel__input--hide[type=number], 
.charsheet .sheet-chrono-panel__input--small[type=text], 
.charsheet [type=text].sheet-chrono-panel__input--item, 
.charsheet .sheet-chrono-panel__input--small[type=number], 
.charsheet [type=number].sheet-chrono-panel__input--item,
.charsheet [type=number].sheet-chrono-panel__input--skill {
  flex-shrink: 1;
  border-radius: 0;
  font-size: 10pt;
  font-weight: bold;
  font-family: sans-serif;
}
.charsheet .sheet-chrono-panel__input--small[type=text], 
.charsheet [type=text].sheet-chrono-panel__input--item, 
.charsheet .sheet-chrono-panel__input--small[type=number], 
.charsheet [type=number].sheet-chrono-panel__input--item,
.charsheet [type=number].sheet-chrono-panel__input--skill {
  width: 3em;
  border: 1px solid #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.charsheet .sheet-chrono-panel__input--hide[type=text], .charsheet .sheet-chrono-panel__input--hide[type=number] {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
.charsheet .sheet-centered-text{
  text-align: center;
}

.charsheet .sheet-chrono-panel__input--hide[type=text]:hover, .charsheet .sheet-chrono-panel__input--hide[type=number]:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.charsheet .sheet-chrono-panel__input--item, 
.charsheet .sheet-chrono-panel__input--skill {
  width: 2em;
  text-align: center;
}
.charsheet .sheet-chrono-panel__textarea {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 9em;
  font-size: 12pt;
  font-weight: bold;
  font-family: sans-serif;
  resize: vertical;
}
.charsheet .sheet-chrono-panel__textarea--full {
  cursor: pointer;
  margin-bottom: 0;
  min-height: 100%;
  width: 100%;
  background: transparent;
  border: none;
}
.charsheet .sheet-chrono-panel__textarea--full:hover {
  background-color: rgba(177, 125, 29, 0.2);
}
.charsheet .sheet-chrono-character-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 1px;
}
/*
.charsheet .sheet-tftl-experience {
  justify-content: space-around;
}
.charsheet .sheet-tftl-checkbox__hide:checked ~ .sheet-tftl-checkbox__show {
  background: #fff url("https://s3.amazonaws.com/files.d20.io/images/138210119/cvUNlZk3lj7GZXQEsKIBWw/med.png?1590443685") no-repeat center/cover;
}

.charsheet .sheet-chrono-wrapper .sheet-chrono-panel__row--age input[type=number] {
  width: 100%;
}
*/

.sheet-rand-bg-1 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 619px 367px;
}

.sheet-rand-bg-2 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 379px 714px;
}

.sheet-rand-bg-3 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 126px 32px;
}

.sheet-rand-bg-4 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 9px 747px;
}

.sheet-rand-bg-5 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 581px 60px;
}

.sheet-rand-bg-6 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 272px 7px;
}

.sheet-rand-bg-7 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 813px 650px;
}

.sheet-rand-bg-8 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 656px 107px;
}

.sheet-rand-bg-9 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 86px 296px;
}

.sheet-rand-bg-10 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 211px 315px;
}

.sheet-rolltemplate-chrono {
  background: center/100% 100% url("https://s3.amazonaws.com/files.d20.io/images/138260306/ilNQ2gaQceaZsCR_KjHC8w/max.png?1590455031");
  padding: 1.5em 1em;
  padding-bottom: 0.5em;
  font-family: "Baltimore Typewriter", monospace;
  font-size: 12pt;
}
.sheet-rolltemplate-chrono h1, .sheet-rolltemplate-chrono h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.sheet-rolltemplate-chrono h1 {
  font-size: 16pt;
  margin-bottom: 2px;
}
.sheet-rolltemplate-chrono h2 {
  border-bottom: 2px solid #ad72ab;
  margin-bottom: 1em;
  /*color: #ad72ab;*/
  font-size: 12pt;
}
.sheet-rolltemplate-chrono .sheet-chrono-body {
  margin-left: 1.5em;
}
.sheet-rolltemplate-chrono .sheet-chrono-body .sheet-chrono-roll-row {
  margin-bottom: 0.5em;
}
.sheet-rolltemplate-chrono .sheet-chrono-body .sheet-chrono-roll-row span {
  margin-left: 0.25em;
  text-transform: capitalize;
}
.sheet-rolltemplate-chrono .sheet-chrono-footer {
  /*width: 100%;
  height: 2.5em;
  background: center/cover url("https://s3.amazonaws.com/files.d20.io/images/138245642/DuOZsXbvjehrb4WorGj9fg/max.png?1590451487");*/
}
.sheet-rolltemplate-chrono .sheet-chrono-roll {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}
.sheet-rolltemplate-chrono .sheet-chrono-roll .importantroll,
.sheet-rolltemplate-chrono .sheet-chrono-roll .fullcrit,
.sheet-rolltemplate-chrono .sheet-chrono-roll .fullfail,
.sheet-rolltemplate-chrono .sheet-chrono-roll .inlinerollresult {
  border: none;
  background: transparent;
  font-family: inherit;
  line-height: 1em;
}
.sheet-rolltemplate-chrono .sheet-chrono-roll .inlinerollresult {
  margin-right: 0.25em;
}
.sheet-rolltemplate-chrono .sheet-chrono-buttons {
  text-align: center;
}
.sheet-rolltemplate-chrono .sheet-chrono-buttons a {
  background: #ce67cb;
}
.sheet-rolltemplate-chrono .sheet-chrono-buttons .sheet-chrono-buttontext {
  font-size: 0.75em;
  font-style: italic;
}
.sheet-minmax-display-divide {
  font: 25px Arial, sans-serif;
  padding: 0px 5px;
}

/* Hide actual radio */
input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
input[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before {    
    content: "";
}

.charsheet .sheet-heart-symbol {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.charsheet .sheet-lightning-symbol {
  width: 25px;
  height: 25px;
  /*margin-right: 5px;*/
}

.charsheet .sheet-chrono-logo {
  grid-column: 1/-1;
  /*background-image: url("https://i.imgur.com/dHQ6x3o.png");
  background-repeat: no-repeat;
  background-size: cover;*/
  border:none;
  position: relative;
}

.charsheet .sheet-chrono-logo img {
  width:100%;
}
.charsheet .sheet-chrono-panel.sheet-turn-tracker { /*custom*/
  text-align: center;
  width: 4em; 
  height: 2em;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.sheet-chrono-attr-row {
  padding: 0px 5px;
}
.sheet-chrono-resource-row {
  padding-left: 15px;
}
.sheet-chrono-meditation-man {
  background: #fff; 
}

.sheet-chrono-panel-light-bg {
  background: #c1c1c1;
  color: black;
}